{% extends 'Base.html' %}
{% load staticfiles %}
{# TODO filters 为自定义的过滤器的文件名字#}
{% load filters %}
{% block title %}尚硅谷书城-用户中心{% endblock title %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
    <div class="search_bar clearfix">
		<a href="{% url 'books:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}">· 个人信息</a></li>
				<li><a href="{% url 'user:order' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
                {% csrf_token %}
				<h3 class="common_title2">全部订单</h3>
                {% for order in order_li %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">订单创建时间:{{ order.create_at }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
{#                    TODO 调用自定义的模板过滤器，来显示要显示的内容#}
					<li class="col02 stress">订单状态: {{ order.status | order_status}}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                 {# 遍历出来的order_books是一个OrderGoods对象 #}
                                {% for order_books in order.order_books_li %}
								<ul class="order_book_list clearfix">
{#                                    TODO order_books.book.image order_books 订单商品信息,book,为商品信息表的字段, 与商品表关联的image字段#}
									<li class="col01"><img src="{% static order_books.book.image %}"></li>
									<li class="col02">{{ order_books.book.name }}<em>{{ order_books.book.price }}元/{{ order_books.book.unit }}</em></li>
									<li class="col03">数量:{{ order_books.count }}</li>
									<li class="col04">{{ order_books.amount }}元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.total_price }}元</td>
							<td width="15%">{{ order.status|order_status }}</td>
							<td width="15%"><a href="javascript:;" pay_method = "{{ order.pay_method }}"  order_id="{{ order.order_id }}" order_status="{{ order.status }}" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
                    {{ order.pay_method }}
                {% endfor %}

				<div class="pagenation">
					<a href="#">上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>
{% endblock body %}
{% block bottomfiles %}
    <script>
        $(function () {
            $('.oper_btn').click(function () {
                console.log('1111')
                // 获取订单id和订单的状态
                order_id = $(this).attr('order_id');
                order_status = $(this).attr('order_status');
                csrf = $('input[name="csrfmiddlewaretoken"]').val()
                params = {
                        'order_id':order_id,
                        'csrfmiddlewaretoken':csrf
                    }
                console.log(order_status)
                if(order_status ==1){
                    $.post('/order/pay/', params, function (data) {
                        console.log(data['res'])
                        if (data.res == 3){
                            // 把用户引导支付页面
                            window.open(data.pay_url);
                            // 查询用户的支付结果
                            $.post('/order/check_pay/',params, function (data) {
                                if (data.res == 3){
                                    alert('支付成功');
                                    // 重新刷新页面
                                    location.reload()
                                }else{
                                    alert(data.errmsg)
                                }
                            })
                        }else{
                            alert(data.errmsg)
                        }
                    })
                }
            })
        })
    </script>
{% endblock bottomfiles %}
