{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}尚硅谷书城-用户中心{% endblock title %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
   <div class="search_bar clearfix">
		<a href="{% url 'books:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'user:order' %}">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ request.session.username}}</li>
{#                        TODO 如果有用户信息，则显示内容，否则不显示#}
                            {% if addr  %}
                                <li><span>联系方式：</span>{{ addr.recipient_phone }}</li>
							    <li><span>联系地址：</span>{{ addr.recipient_addr }}</li>
                            {% else %}
                                <li><span>联系方式：</span>无</li>
							    <li><span>联系地址：</span>无</li>
                            {% endif %}
						</ul>
				</div>

				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="book_type_list clearfix">
{#                        TODO 遍历从redis中读取的书籍对象，得到每一本书的对象，用来显示对象的属性#}
                        {% for book in book_li %}
                           <li>
                                <a href="{% url 'books:detail' books_id=book.id %}"><img src="{% static book.image %}"></a>
                                <h4><a href="{% url 'books:detail' books_id=book.id %}">{{ book.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ book.price }}</span>
                                    <span class="unit">/{{ book.unit }}</span>
                                    <a href="#" class="add_book" title="加入购物车"></a>
                                </div>
				            </li>
                        {% endfor %}
			        </ul>
		        </div>
		</div>
	</div>
{% endblock body %}